@using System.Data
@using BOXCricket.BAL
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BOXCricket.Areas.MST_BOXCricket.Models.MST_BOXCricketModel;

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">BOXCricket /</span> Add-Edit BOXCricket</h4>

        <!-- Basic Layout -->
        <div class="row">
            <div class="col-xl">
                <div class="col-lg-8 mx-auto">
                    <div class="card mb-4">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="mb-0">BOXCricket Details</h5>
                        </div>
                        <div class="card-body">
                            <form asp-action="Save" method="post" enctype="multipart/form-data">
                                <input type="hidden" asp-for="BOXCricketID" />                              

                                <div class="mb-3">
                                    <label class="form-label" asp-for="BOXCricketName" for="basic-default-fullname">
                                        BOX Cricket Name
                                    </label> 
                                    <input asp-for="BOXCricketName" type="text" class="form-control"
                                           id="basic-default-fullname" placeholder="Enter the BOXCricket Name" autofocus/>
                                    <span asp-validation-for="BOXCricketName" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="Address" class="form-label"
                                           for="basic-default-message">Address</label>
                                    <textarea asp-for="Address" id="basic-default-message" class="form-control"
                                              placeholder="Enter the address where the round is located"></textarea>
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>

                                <div class="row">
                                    <div class="mb-3 col-md-4">
                                        <label for="exampleFormControlSelect1" class="form-label">Country</label>
                                        <select type="text" class="form-select" aria-label="Default select example"
                                                asp-for="CountryID"
                                                asp-items="@(new SelectList(ViewBag.CountryList, "CountryID", "CountryName"))"
                                                onchange="funOnStateChange();">
                                            <option value="">Select the Country</option>
                                        </select>
                                        <span asp-validation-for="CountryID" class="text-danger"></span>
                                    </div>

                                    <div class="mb-3 col-md-4">
                                        <label for="exampleFormControlSelect1" class="form-label">State</label>
                                        <select type="text" class="form-select" aria-label="Default select example"
                                                asp-for="StateID"
                                                asp-items="@(new SelectList(ViewBag.StateList, "StateID", "StateName"))"
                                                onchange="funOnCityChange();">
                                            <option value="">Select the State</option>
                                        </select>
                                        <span asp-validation-for="StateID" class="text-danger"></span>
                                    </div>

                                    <div class="mb-3 col-md-4">
                                        <label for="exampleFormControlSelect1" class="form-label">City</label>
                                        <select type="text" class="form-select" aria-label="Default select example"
                                                asp-for="CityID"
                                                asp-items="@(new SelectList(ViewBag.CityList, "CityID", "CityName"))">
                                            <option value="">Select the City</option>
                                        </select>
                                        <span asp-validation-for="CityID" class="text-danger"></span>
                                    </div>
                                </div>

                                <input type="hidden" asp-for="BOXCricketImagePath1" />
                                <input type="hidden" asp-for="BOXCricketImagePath2" />
                                <div class="row">
                                    <label for="formFileMultiple" class="form-label">BOXCricket Images (Allowed JPG or PNG)</label>
                                    <div class="d-flex flex-column align-items-center mb-2 col-md-6">
                                        <img src="@Url.Content(ViewBag.EditBOXCricketImagePath1)" alt="boxcricket-image" class="d-block rounded mb-2" height="160" width="280" id="uploadedAvatar1" />
                                        <div class="button-wrapper">
                                            <label for="upload1" class="btn btn-primary btn-block mb-2" tabindex="0">
                                                <span class="d-none d-sm-block">Upload new photo</span>
                                                <i class="bx bx-upload d-block d-sm-none"></i>
                                                <input type="file" id="upload1" class="account-file-input" hidden asp-for="BOXCricketImage1" accept="image/png, image/jpeg" />
                                            </label>
                                            <button type="button" id="resetButton1" class="btn btn-outline-secondary btn-block mb-2">
                                                <i class="bx bx-reset d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Reset</span>
                                            </button>
                                        </div>
                                        <span asp-validation-for="BOXCricketImage1" class="text-danger"></span>
                                    </div>
                                    <div class="d-flex flex-column align-items-center mb-3 col-md-6">
                                        <img src="@Url.Content(ViewBag.EditBOXCricketImagePath2)" alt="boxcricket-image" class="d-block rounded mb-2" height="160" width="280" id="uploadedAvatar2" />
                                        <div class="button-wrapper">
                                            <label for="upload2" class="btn btn-primary btn-block mb-2" tabindex="0">
                                                <span class="d-none d-sm-block">Upload new photo</span>
                                                <i class="bx bx-upload d-block d-sm-none"></i>
                                                <input type="file" id="upload2" class="account-file-input" hidden asp-for="BOXCricketImage2" accept="image/png, image/jpeg" />
                                            </label>
                                            <button type="button" id="resetButton2" class="btn btn-outline-secondary btn-block mb-2">
                                                <i class="bx bx-reset d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Reset</span>
                                            </button>
                                        </div>
                                        <span asp-validation-for="BOXCricketImage2" class="text-danger"></span>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">Save</button>
                                <a asp-action="Index" class="btn btn-secondary ms-2">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / Content -->
    <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
@section Scripts {
    @*dropdown fill *@
    <script>

        function funOnStateChange() {
            var CountryID = $("#CountryID").val();

            $("#StateID").empty();
            $("#StateID").append($("<option></option>").val("").html("Select State"));
            $("#CityID").empty();
            $("#CityID").append($("<option></option>").val("").html("Select City"));
            if (CountryID !== "") {
                $.ajax(
                    {
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("StateDropdownByCountry", "MST_BOXCricket")" + "?&CountryID=" + CountryID,
                        data: {},
                        dataType: "json",
                        success: function (Result) {
                            $.each(Result, function (key, value) {
                                $("#StateID").append($("<option></option>").val(value.stateID).html(value.stateName));
                            });
                        },
                        error: function (err) {
                            //alert(err.toString();
                            alert("Error while fetch data");
                        }
                    }
                )
            }
        }
        function funOnCityChange() {
            var StateID = $("#StateID").val();

            $("#CityID").empty();
            $("#CityID").append($("<option></option>").val("").html("Select City"));
            if (StateID !== "") {
                $.ajax(
                    {
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("CityDropdownByState", "MST_BOXCricket")" + "?&StateID=" + StateID,
                        data: {},
                        dataType: "json",
                        success: function (Result) {
                            $.each(Result, function (key, value) {
                                $("#CityID").append($("<option></option>").val(value.cityID).html(value.cityName));
                            });
                        },
                        error: function (err) {
                            alert("Error white fetch data");
                        }
                    }
                )
            }
        }

        //Display Preview of selected image 1
        upload1.onchange = evt => {
            const [file] = upload1.files
            if (file) {
                uploadedAvatar1.src = URL.createObjectURL(file);
            }
        }

        //Reset Image to Default 1
        document.getElementById('resetButton1').addEventListener('click', function () {
            // Set the source of the uploadedAvatar back to the default image path
            document.getElementById('uploadedAvatar1').src = '@Url.Content(ViewBag.EditBOXCricketImagePath1)';
            // Clear the file input to allow selecting the same file again
            document.getElementById('upload1').value = '';
        });

        //Display Preview of selected image 2
        upload2.onchange = evt => {
            const [file] = upload2.files
            if (file) {
                uploadedAvatar2.src = URL.createObjectURL(file);
            }
        }

        //Reset Image to Default 2
        document.getElementById('resetButton2').addEventListener('click', function () {
            // Set the source of the uploadedAvatar back to the default image path
            document.getElementById('uploadedAvatar2').src = '@Url.Content(ViewBag.EditBOXCricketImagePath2)';
            // Clear the file input to allow selecting the same file again
            document.getElementById('upload2').value = '';
        });

    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}