@using System.Data
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var successMessage = TempData["successMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();
}

<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        <!-- Content wrapper -->
        <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
                <h4 class="py-3 mb-4"><span class="text-muted fw-light">Bookings /</span> Bookings List</h4>
                @if (!string.IsNullOrWhiteSpace(successMessage))
                {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        @successMessage
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                else if (!string.IsNullOrWhiteSpace(errorMessage))
                {
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        @errorMessage
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                <form asp-action="BookingSearch" asp-controller="MST_Booking" asp-area="MST_Booking" class="row mb-3">

                    <div class="col-md-2 mb-2">
                        <Select class="form-select" name="BOXCricketID" id="BOXCricketID" aria-label="Default select example" asp-items="@(new SelectList(ViewBag.BOXCricketList, "BOXCricketID", "BOXCricketName"))" onchange="funOnBOXCricketChange();">
                            <option value="" selected>Select BOXCricket</option>
                        </Select>
                    </div>

                    <div class="col-md-2 mb-2">
                        <Select class="form-select" name="GroundID" id="GroundID" aria-label="Default select example" asp-items="@(new SelectList(ViewBag.GroundList, "GroundID", "GroundName"))">
                            <option disabled selected>Select Ground</option>
                        </Select>
                    </div>

                    <div class="col-md-2 mb-2">
                        <select class="form-select" name="Status" id="Status" aria-label="Default select example">
                            <option disabled selected>Select Booking Status</option>
                            <option value="Pending">Pending</option>
                            <option value="Confirm">Confirmed</option>
                            <option value="Rejected">Rejected</option>
                        </select>
                    </div>

                    <div class="col-md-2 mb-2">
                        <input type="text" class="form-control" name="UserName" id="UserName" placeholder="User Name" />
                    </div>                    
                    <div class="col-md-1 mb-2">
                        <button type="submit" class="btn btn-outline-success w-100">Search</button>
                    </div>
                </form>

                <!-- Hoverable Table rows -->
                <div class="card">
                    <div class="card-header flex-column flex-md-row d-flex justify-content-between align-items-center">
                        <div class="head-label text-left">
                            <h5 class="card-title mb-0">Booking List</h5>
                        </div>
                        <div class="dt-action-buttons text-end pt-3 pt-md-0">
                            @if (ViewBag.IsMyBookingPage)
                            {
                                <a asp-action="BookingList" asp-controller="MST_Booking" class="btn btn-info me-sm-2">All Bookings</a>
                            }
                            else
                            {
                                <a asp-action="SelectAllBooking" asp-controller="MST_Booking" class="btn btn-info me-sm-2">My Bookings</a>
                            }
                            <a asp-action="Add" class="dt-button create-new btn btn-success" tabindex="0"
                               aria-controls="DataTables_Table_0">
                                <span>
                                    <i class="bx bx-plus me-sm-1"></i>
                                    <span class="d-none d-sm-inline-block">Add New Booking</span>
                                </span>
                            </a>                            
                        </div>
                    </div>
                    <div class="table-responsive text-nowrap">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="sticky-left">Ground Name</th>
                                    <th>BOX Cricket Name</th>
                                    <th>Booked By</th>
                                    <th>Booking Date</th>
                                    <th>Timings</th>
                                    <th>Total Slots Booked</th>
                                    <th>BookingAmount</th>
                                    <th>Status</th>
                                    <th>Created</th>
                                    <th>Modified</th>
                                    <th class="sticky-right">Actions</th>

                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                                @{
                                    if (Model.Rows.Count > 0)
                                    {
                                        foreach (DataRow dr in Model.Rows)
                                        {
                                            <tr>
                                                <td class="sticky-left">@dr["GroundName"]</td>
                                                <td>@dr["BOXCricketName"]</td>
                                                <td>@dr["UserName"]</td>
                                                <td>@Convert.ToDateTime(dr["BookingDate"]).ToString("dd-MM-yy")</td>
                                                <td>@dr["SlotDetails"]</td>
                                                <td>@dr["TotalSlotsBooked"]</td>
                                                <td>@dr["BookingAmount"]</td>
                                                <td>@dr["Status"]</td>
                                                <td>@dr["Created"]</td>
                                                <td>@dr["Modified"]</td>
                                                <td class="sticky-right">                                                    
                                                    <a class="btn btn-icon btn-warning" asp-action="BookingStatusEdit" asp-route-BookingID="@Convert.ToInt32(@dr["BookingID"])">
                                                        <i class="bx bx-pencil"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="9" class="text-center">
                                                <p class="col-form-label">No Record Found</p>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
                <!--/ Hoverable Table rows -->
            </div>
            <!-- / Content -->


            <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>

<!-- / Layout wrapper -->
<script>
    function funOnBOXCricketChange() {
        var BOXCricketID = $("#BOXCricketID").val();

        $("#GroundID").empty();
        $("#GroundID").append($("<option></option>").val("").html("Select Ground"));
        if (BOXCricketID !== "") {
            $.ajax(
                {
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("GroundDropDownByBOXCricket", "MST_Booking")" + "?&BOXCricketID=" + BOXCricketID,
                    data: {},
                    dataType: "json",
                    success: function (Result) {
                        $.each(Result, function (index, item) {
                            $("#GroundID").append($("<option></option>").val(item.groundID).html(item.groundName));

                        });
                    },
                    error: function (err) {
                        //alert(err.toString();
                        alert("Error while fetch data");
                    }
                }
            )
        }
        else {
            // If BOXCricketID is empty, load all grounds
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("GroundDropDown", "MST_Booking")",
                data: {},
                dataType: "json",
                success: function (Result) {
                    $.each(Result, function (index, item) {
                        $("#GroundID").append($("<option></option>").val(item.groundID).html(item.groundName));
                    });
                },
                error: function (err) {
                    //alert(err.toString();
                    alert("Error while fetching data");
                }
            });
        }
    }


    document.addEventListener('DOMContentLoaded', function () {
        const deleteButtons = document.querySelectorAll('[data-confirm]');

        deleteButtons.forEach(button => {
            button.addEventListener('click', function (e) {
                const confirmationMessage = this.getAttribute('data-confirm');
                if (!confirm(confirmationMessage)) {
                    e.preventDefault(); // Cancel the form submission if the user cancels the confirmation
                }
            });
        });
    });
</script>