@using System.Data
@using BOXCricket.BAL
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Content wrapper -->
        <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
                @Html.Partial("_ShowAlertInfo")
                <div class="col-lg-12 mb-4 order-0">
                    <div class="card">
                        <div class="d-flex align-items-end row">
                            <div class="col-sm-8">
                                <div class="card-body">
                                    <h4 class="card-title text-primary">Welcome back, @CommonVariables.UserName() 👋🏻 </h4>
                                    <p class="mb-4">Your dedication this week is commendable. Let's stay focused and make even more progress together !</p>
                                    @{
                                        if (Model.Rows.Count > 0)
                                        {
                                            foreach (DataRow row in Model.Rows)
                                            {
                                                <div class="d-flex justify-content-between flex-wrap gap-3 me-4">
                                                    <div class="d-flex align-items-center gap-3 me-4 me-sm-0">
                                                        <span class=" bg-label-primary p-2 rounded">
                                                            <i class="bx bx-collection bx-sm"></i>
                                                        </span>
                                                        <div class="content-right">
                                                            <p class="mb-0">Total Bookings</p>
                                                            <h4 class="text-primary mb-0">@row["TotalBookings"]</h4>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex align-items-center gap-3">
                                                        <span class="bg-label-warning p-2 rounded">
                                                            <i class="bx bx-error bx-sm"></i>
                                                        </span>
                                                        <div class="content-right">
                                                            <p class="mb-0">Total Pending Bookings</p>
                                                            <h4 class="text-warning mb-0">@row["TotalPendingBookings"]</h4>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex align-items-center gap-3">
                                                        <span class="bg-label-success p-2 rounded">
                                                            <i class="bx bx-badge-check bx-sm"></i>
                                                        </span>
                                                        <div class="content-right">
                                                            <p class="mb-0">Total Completed Bookings</p>
                                                            <h4 class="text-success mb-0">@row["TotalCompletedBookings"]</h4>
                                                        </div>
                                                    </div>

                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-sm-4 text-center text-sm-left">
                                <div class="card-body pb-0 px-0 px-md-4">
                                    <img src="../assets/img/illustrations/man-with-laptop-light.png" height="140" alt="View Badge User" data-app-dark-img="illustrations/man-with-laptop-dark.png" data-app-light-img="illustrations/man-with-laptop-light.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
                <div class="row">
                    <div class="col-12 col-lg-6 mb-4">
                        <div class="card h-100">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h5 class="card-title m-0 me-2">Revenue Trend Chart</h5>
                                <div class="dropdown">
                                    <button class="btn p-0" type="button" id="revenueDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="revenueDropdown">
                                        <a class="dropdown-item revenueTrendItem" data-value="">Till Today</a>
                                        <a class="dropdown-item revenueTrendItem" data-value="Last28Days">Last 28 Days</a>
                                        <a class="dropdown-item revenueTrendItem" data-value="LastMonth">Last Month</a>
                                        <a class="dropdown-item revenueTrendItem" data-value="LastYear">Last Year</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <canvas id="revenueTrendChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        @{
                            if (Model.Rows.Count > 0)
                            {
                                foreach (DataRow row in Model.Rows)
                                {
                                    <!-- First row of elements -->
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 mb-4">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="card-title d-flex align-items-start justify-content-between">
                                                        <span class="bg-label-success p-2 rounded">
                                                            <i class="bx bx-rupee bx-sm"></i>
                                                        </span>
                                                    </div>
                                                    <span class="d-block mb-1">Total Profit</span>
                                                    <h3 class="card-title text-nowrap mb-2">@row["TotalProfit"]</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 mb-4">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="card-title d-flex align-items-start justify-content-between">
                                                        <span class="bg-label-info p-2 rounded">
                                                            <i class="bx bx-wallet bx-sm"></i>
                                                        </span>
                                                    </div>
                                                    <span>Total Sales</span>
                                                    <h3 class="card-title text-nowrap mb-1">@row["TotalSales"]</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Second row of elements -->
                                    <div class="row mt-4">
                                        <div class="col-md-6 col-lg-6 mb-4">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="card-title d-flex align-items-start justify-content-between">
                                                        <span class="bg-label-secondary p-2 rounded">
                                                            <i class="bx bx-area bx-sm"></i>
                                                        </span>
                                                    </div>
                                                    <span class="d-block mb-1">Total Grounds</span>
                                                    <h3 class="card-title text-nowrap mb-2">@row["TotalGrounds"]</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 mb-4">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="card-title d-flex align-items-start justify-content-between">
                                                        <span class="bg-label-warning p-2 rounded">
                                                            <i class="bx bx-error bx-sm"></i>
                                                        </span>
                                                    </div>
                                                    <span>Total Grounds In Maintenance</span>
                                                    <h3 class="card-title text-nowrap mb-1">@row["TotalGroundsInMaintenance"]</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }
                            }
                        }
                    </div>                    
                </div>

                <div class="row">
                    <div class="col-12 col-lg-6 mb-4">
                        <div class="card h-100">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h5 class="card-title m-0 me-2">Booking Trend Chart</h5>
                                <div class="dropdown">
                                    <button class="btn p-0" type="button" id="bookingTrendDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="bookingTrendDropdown">
                                        <a class="dropdown-item bookingTrendItem" data-value="">Till Today</a>
                                        <a class="dropdown-item bookingTrendItem" data-value="Last28Days">Last 28 Days</a>
                                        <a class="dropdown-item bookingTrendItem" data-value="LastMonth">Last Month</a>
                                        <a class="dropdown-item bookingTrendItem" data-value="LastYear">Last Year</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <canvas id="bookingTrendChart"></canvas>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-xl-6 mb-4">
                        <div class="card h-100">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <div class="card-title mb-0">
                                    <h5 class="m-0 me-2">Your Top Customers</h5>
                                </div>
                                <div class="dropdown">
                                    <button class="btn p-0" type="button" id="popularCustomers" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="popularCustomers">
                                        <a class="dropdown-item topCustomers" data-value="">Till Today</a>
                                        <a class="dropdown-item topCustomers" data-value="Last28Days">Last 28 Days</a>
                                        <a class="dropdown-item topCustomers" data-value="LastMonth">Last Month</a>
                                        <a class="dropdown-item topCustomers" data-value="LastYear">Last Year</a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive text-nowrap" style="max-height: 300px; overflow-y: auto;">
                                <table id="topCustomersTable" class="table table-hover table-borderless border-top">
                                    <thead class="border-bottom">
                                        <tr>
                                            <th>Customer</th>
                                            <th class="text-end">Total Bookings</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Your table content goes here -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- / Content -->
            <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
    </div>
</div>

@section scripts {

    <script>

        $(document).ready(function () {
            var bookingsChartInstance;
            var revenueChartInstance;

            // Initialize chart on document ready
            initializeChart();
            fetchTopCustomersList();


            // Event listener for booking trend dropdown items
            $(".bookingTrendItem").click(function () {
                var selectedBookingTrendValue = $(this).data("value");
                fetchBookingsData(selectedBookingTrendValue);
            });

            // Event listener for revenue trend dropdown items
            $(".revenueTrendItem").click(function () {
                var selectedRevenueTrendValue = $(this).data("value");
                fetchRevenueData(selectedRevenueTrendValue);
            });

            // Event listener for booking top Customers dropdown items
            $(".topCustomers").click(function () {
                var selectedTopCustomersValue = $(this).data("value");
                fetchTopCustomersList(selectedTopCustomersValue);
            });

            // Rest of code...
            // Event listener for window resize
            $(window).resize(function () {
                // Check if chart instance exists
                if (bookingsChartInstance) {
                    // Destroy the existing chart
                    bookingsChartInstance.destroy();
                    // Reinitialize the chart with new dimensions
                    initializeChart();
                }
                if (revenueChartInstance) {
                    // Destroy the existing chart
                    revenueChartInstance.destroy();
                    // Reinitialize the chart with new dimensions
                    initializeChart();
                }
            });

            function initializeChart() {
                fetchBookingsData(); // Initial fetch of BookingsData
                fetchRevenueData(); // Initial fetch of RevenueData
            }

            //For Bookings chart
            function fetchBookingsData(selectedBookingTrendValue = "") {// Modify fetchData function to accept selectedBookingTrendValue
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetBookingsData", "Home")",
                    data: { selectedBookingTrendValue: selectedBookingTrendValue }, // Pass selectedBookingTrendValue in the data
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: OnSuccessResultBookings,
                    error: OnErrorBookings,
                });
            }

            function OnSuccessResultBookings(data) {
                var _bookingsData = data;
                var _bookingsChartLabels = _bookingsData[0];
                var _bookingsChartData = _bookingsData[1];

                // Destroy the existing chart if it exists
                if (bookingsChartInstance) {
                    bookingsChartInstance.destroy();
                }

                // Create the new chart
                bookingsChartInstance = new Chart("bookingTrendChart", {
                    type: 'line',
                    data: {
                        labels: _bookingsChartLabels,
                        datasets: [{
                            label: 'Bookings',
                            data: _bookingsChartData,
                            borderWidth: 2,
                            borderColor: 'blue',
                            backgroundColor: 'rgba(0, 0, 255, 0.1)',
                            fill: true,
                            tension: 0.4
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true,
                                title: {
                                    display: true,
                                    text: 'Number of Bookings'
                                }
                            }
                        }
                    }
                });
            }

            function OnErrorBookings(err) {
                // Handle error if needed
            }

            //For Revenue chart
            function fetchRevenueData(selectedRevenueTrendValue = "") {// Modify fetchData function to accept selectedBookingTrendValue
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetRevenueData", "Home")",
                    data: { selectedRevenueTrendValue: selectedRevenueTrendValue }, // Pass selectedBookingTrendValue in the data
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: OnSuccessResultRevenue,
                    error: OnErrorRevenue,
                });
            }

            function OnSuccessResultRevenue(data) {
                var _revenueData = data;
                var _revenueChartLabels = _revenueData[0];
                var _revenueChartData = _revenueData[1];

                // Destroy the existing chart if it exists
                if (revenueChartInstance) {
                    revenueChartInstance.destroy();
                }

                // Create the new chart
                revenueChartInstance = new Chart("revenueTrendChart", {
                    type: 'line',
                    data: {
                        labels: _revenueChartLabels,
                        datasets: [{
                            label: 'Revenue',
                            data: _revenueChartData,
                            borderWidth: 2,
                            borderColor: 'green',
                            backgroundColor: 'rgba(0, 255, 0, 0.1)',
                            fill: true,
                            tension: 0.4
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true,
                                title: {
                                    display: true,
                                    text: 'Revenue'
                                }
                            }
                        }
                    }
                });
            }

            function OnErrorRevenue(err) {
                // Handle error if needed
            }

            //for Top Customers table
            function fetchTopCustomersList(selectedTopCustomersValue = "") {// Modify fetchData function to accept selectedBookingTrendValue
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetTopCustomersList", "Home")",
                    data: { selectedTopCustomersValue: selectedTopCustomersValue }, // Pass selectedBookingTrendValue in the data
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        populateTopCustomersTable(data);
                    },
                    error: function (error) {
                        console.error("Error fetching top customers data:", error);
                    }
                });
            }

            function populateTopCustomersTable(data) {
                var tableBody = $('#topCustomersTable tbody');
                tableBody.empty(); // Clear existing table rows

                // Loop through the data and create table rows
                data.forEach(function (customer) {
                    
                    var row = $('<tr></tr>');
                    var avatar = $('<div class="avatar me-3"></div>');
                    var img = $('<img class="rounded-circle">');
                    img.attr('src', customer.profilePhotoPath || 'https://media.istockphoto.com/id/1495088043/vector/user-profile-icon-avatar-or-person-icon-profile-picture-portrait-symbol-default-portrait.jpg?s=612x612&w=0&k=20&c=dhV2p1JwmloBTOaGAtaA3AW1KSnjsdMt7-U_3EZElZ0=');
                    avatar.append(img);

                    var customerInfo = $('<div class="d-flex flex-column"></div>');
                    var customerName = $('<h6 class="mb-1 text-truncate"></h6>').text(customer.userName);
                    var contactInfo = $('<div class="text-truncate"></div>');
                    var contact = $('<span></span>').text(customer.contact);
                    var email = $('<span class="ms-1"></span>').text(customer.email); // Replace with actual email address
                    contactInfo.append(contact, $('<span class="mx-1">|</span>'), email); // Add divider between contact and email
                    customerInfo.append(customerName, contactInfo);

                    var bookings = $('<div class="user-progress mt-lg-4"></div>');
                    var totalBookings = $('<h6 class="mb-0"></h6>').text(customer.bookingCount);
                    bookings.append(totalBookings);

                    row.append($('<td></td>').append($('<div class="d-flex justify-content-start align-items-center mt-lg-4"></div>').append(avatar, customerInfo)));
                    row.append($('<td class="text-end"></td>').append(bookings));

                    tableBody.append(row);
                });
            }


        });       

    </script>
}

