@using System.Data
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var successMessage = TempData["successMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();
}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    @if (!string.IsNullOrWhiteSpace(successMessage))
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            @successMessage
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    else if (!string.IsNullOrWhiteSpace(errorMessage))
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            @errorMessage
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    @* <div class="btn-group mb-3">
        <button type="button"
                class="btn btn-outline-secondary dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            Filters
        </button>
        <div class="dropdown-menu dropdown-menu-end w-px-300">
            <form class="p-4">
                <div class="mb-3">
                    <label class="form-label" for="basic-default">
                        Ground Capacity
                    </label>
                    <input type="number" value="18" class="form-control" name="GroundCapacity" id="searchGroundCapacity"
                           placeholder="Enter Ground Capacity" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="basic-default">
                        Per Hour Price
                    </label>
                    <input type="text" class="form-control" name="PerHourPrice" id="PerHourPrice"
                           placeholder="Enter Per Hour Price" />
                </div>
                <div class="mb-3">
                    <label for="html5-date-input" class="form-label">Date</label>
                    <input class="form-control" type="date" name="BookingDate" id="BookingDate" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="basic-default">
                        Slot
                    </label>
                    <Select type="text" class="form-select" aria-label="Default select example"
                            asp-items="@(new SelectList(ViewBag.SlotList, "SlotNO", "SlotDetails"))">
                        <option value="">Select the Slot</option>
                    </Select>
                </div>
                <button type="submit" class="btn btn-primary">Apply</button>
                <button type="button" class="btn btn-secondary">Clear</button>
            </form>
        </div>
    </div> *@

    <!-- Grid Card -->
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
        @{
            if (Model.Rows.Count > 0)
            {
                foreach (DataRow dr in Model.Rows)
                {
                    var imagePaths = new List<string>();
                    for (int i = 1; i <= 4; i++) // Assuming you have up to 4 image paths per ground
                    {
                        var imagePath = dr["GroundImagePath" + i].ToString();
                        if (!string.IsNullOrWhiteSpace(imagePath))
                        {
                            imagePaths.Add(imagePath);
                        }
                    }

                    var carouselId = "imageSlider" + Guid.NewGuid().ToString("N"); // Generate a unique ID for each carousel
                    <div class="col">
                        <div class="card">
                            <div id="@carouselId" class="carousel slide carousel-fade" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    @foreach (var path in imagePaths)
                                    {
                                        <div class="carousel-item @(path == imagePaths.First() ? "active" : "")">
                                            <img class="d-block w-100" src="@path" height="260" width="480" alt="Image">
                                        </div>
                                    }
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#@carouselId" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#@carouselId" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title align-items-center">@dr["GroundName"]</h5>
                                <span class="fw-medium card-text"><i class="bx bx-expand me-1"></i><span>L : @dr["GroundLength"], W : @dr["GroundWidth"], H : @dr["GroundHeight"]</span></span><br>
                                <span class="fw-medium card-text"><i class="bx bx-group me-1"></i><span>Ground Capacity : @dr["GroundCapacity"]</span></span><br>
                                <span class="fw-medium card-text"><i class="bx bx-user me-1"></i>Contact Person : @dr["ContactPersonName"]</span><br>
                                <span class="fw-medium card-text"><i class="bx bx-phone me-1"></i>Contact Person Number : @dr["ContactPersonNumber"]</span>
                            </div>
                            <div class="card-footer pt-0">
                                <!-- Price and Button -->
                                <div class="d-sm-flex justify-content-sm-between align-items-center ">
                                    <!-- Price -->
                                    <div class="hstack gap-2">
                                        <h5 class="fw-normal text-success mb-0">&#8377;@dr["DiscountedHourlyRate"]</h5>
                                        <small>/per Hour</small>
                                        <span class="text-decoration-line-through">&#8377;@dr["ActualHourlyRate"]</span>
                                    </div>
                                    <!-- Button -->
                                    <div class="mt-2 mt-sm-0">
                                        <a asp-action="BookingAdd" asp-route-GroundID="@Convert.ToInt32(@dr["GroundID"])"
                                           asp-route-BOXCricketID="@Convert.ToInt32(@dr["BOXCricketID"])"
                                           class="btn btn-outline-primary  mb-0">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>
<!-- / Content -->



<script>
    // Initialize the carousel
    var myCarousel = document.getElementById('imageSlider');
    var carousel = new bootstrap.Carousel(myCarousel);

    // Optional: You can also handle slide events if needed
    myCarousel.addEventListener('slid.bs.carousel', function () {
        // Handle slide event if needed
    });
</script>
