@using System.Data
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">

    @Html.Partial("_ShowAlertInfo")

    @Html.Partial("_GroundListFilterForm")
    

    <!-- Grid Card -->
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
        @{
            if (Model.Rows.Count > 0)
            {
                foreach (DataRow dr in Model.Rows)
                {
                    var imagePaths = new List<string>();
                    for (int i = 1; i <= 4; i++) // Assuming you have up to 4 image paths per ground
                    {
                        var imagePath = dr["GroundImagePath" + i].ToString();
                        if (!string.IsNullOrWhiteSpace(imagePath))
                        {
                            imagePaths.Add(imagePath);
                        }
                    }

                    var carouselId = "imageSlider" + Guid.NewGuid().ToString("N"); // Generate a unique ID for each carousel
                    <div class="col">
                        <div class="card">
                            <div id="@carouselId" class="carousel slide carousel-fade" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    @foreach (var path in imagePaths)
                                    {
                                        <div class="carousel-item @(path == imagePaths.First() ? "active" : "")">
                                            <img class="d-block w-100" src="@path" height="260" width="480" alt="Image">
                                        </div>
                                    }
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#@carouselId" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#@carouselId" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title align-items-center">@dr["GroundName"]</h5>
                                <span class="fw-medium card-text"><i class="bx bx-expand me-1"></i><span>L : @dr["GroundLength"], W : @dr["GroundWidth"], H : @dr["GroundHeight"]</span></span><br>
                                <span class="fw-medium card-text"><i class="bx bx-group me-1"></i><span>Ground Capacity : @dr["GroundCapacity"]</span></span><br>
                                <span class="fw-medium card-text"><i class="bx bx-user me-1"></i>Contact Person : @dr["ContactPersonName"]</span><br>
                                <span class="fw-medium card-text"><i class="bx bx-phone me-1"></i>Contact Person Number : @dr["ContactPersonNumber"]</span>
                            </div>
                            <div class="card-footer pt-0">
                                <!-- Price and Button -->
                                <div class="d-sm-flex justify-content-sm-between align-items-center ">
                                    <!-- Price -->
                                    <div class="hstack gap-2">
                                        <h5 class="fw-normal text-success mb-0">&#8377;@dr["DiscountedHourlyRate"]</h5>
                                        <small>/per Hour</small>
                                        <span class="text-decoration-line-through">&#8377;@dr["ActualHourlyRate"]</span>
                                    </div>
                                    <!-- Button -->
                                    <div class="mt-2 mt-sm-0">
                                        <a asp-action="BookingAdd" asp-route-GroundID="@Convert.ToInt32(@dr["GroundID"])"
                                           asp-route-BOXCricketID="@Convert.ToInt32(@dr["BOXCricketID"])"
                                           class="btn btn-outline-primary  mb-0">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>
<!-- / Content -->
