@using System.Data
@using BOXCricket.BAL
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var successMessage = TempData["successMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();
}

<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        <!-- Content wrapper -->
        <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
                <h4 class="py-3 mb-4"><span class="text-muted fw-light">Ground /</span> Ground List</h4>
                @if (!string.IsNullOrWhiteSpace(successMessage))
                {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        @successMessage
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                else if (!string.IsNullOrWhiteSpace(errorMessage))
                {
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        @errorMessage
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                <form asp-action="GroundSearch" asp-controller="MST_Ground" asp-area="MST_Ground" class="row mb-3">

                    <div class="col-md-2 mb-2">
                        <Select class="form-select" name="BOXCricketID" id="BOXCricketID" aria-label="Default select example" asp-items="@(new SelectList(ViewBag.BOXCricketList, "BOXCricketID", "BOXCricketName"))" onchange="funOnBOXCricketChange();">
                            <option value="" selected>Select BOXCricket</option>
                        </Select>
                    </div>
                    <div class="col-md-2 mb-2">
                        <input type="text" class="form-control" name="GroundName" id="searchGroundName"
                            placeholder="Ground Name" />
                    </div>
                    <div class="col-md-2 mb-2">
                        <input type="text" class="form-control" name="GroundCapacity" id="searchGroundCapacity"
                            placeholder="Ground Capacity" />
                    </div>
                    <div class="col-md-2 mb-2">
                        <select class="form-select" name="IsAllowedBooking" id="IsAllowedBooking" aria-label="Default select example">
                            <option selected disabled>Select Ground Status</option>
                            <option value="1">Allowed To Book</option>
                            <option value="0">Not Allowed To Book</option>
                        </select>
                    </div>
                    <div class="col-md-1 mb-2">
                        <button type="submit" class="btn btn-outline-success w-100">Search</button>
                    </div>
                </form>

                <!-- Hoverable Table rows -->
                <div class="card">
                    <div class="card-header flex-column flex-md-row d-flex justify-content-between align-items-center">
                        <div class="head-label text-left">
                            <h5 class="card-title mb-0">Ground List</h5>
                        </div>
                        <div class="dt-action-buttons text-end pt-3 pt-md-0">
                            <a asp-action="Add" class="dt-button create-new btn btn-success" tabindex="0"
                                aria-controls="DataTables_Table_0">
                                <span>
                                    <i class="bx bx-plus me-sm-1"></i>
                                    <span class="d-none d-sm-inline-block">Add New Ground</span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="table-responsive text-nowrap">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="sticky-left">Ground Name</th>
                                    <th>BOX Cricket</th>
                                    <th>Ground Nick Name</th>
                                    <th>User Name</th>
                                    <th>Ground Capacity</th>
                                    <th>Ground Height</th>
                                    <th>Ground Width</th>
                                    <th>Ground Length</th>                                    
                                    <th>ContactPersonName</th>
                                    <th>ContactPersonNumber</th>
                                    <th>ActualHourlyRate</th>
                                    <th>DiscountedHourlyRate</th>
                                    <th>Is AllowedBooking</th>
                                    <th>Created</th>
                                    <th>Modified</th>
                                    <th class="sticky-right">Actions</th>

                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                                @{
                                    if (Model.Rows.Count > 0)
                                    {
                                        foreach (DataRow dr in Model.Rows)
                                        {
                                            <tr>
                                                <td class="sticky-left">@dr["GroundName"]</td>
                                                <td>@dr["BOXCricketName"]</td>
                                                <td>@dr["GroundNickName"]</td>                                                
                                                <td>@dr["UserName"]</td>
                                                <td>@dr["GroundCapacity"]</td>
                                                <td>@dr["GroundHeight"]</td>
                                                <td>@dr["GroundWidth"]</td>
                                                <td>@dr["GroundLength"]</td>
                                                <td>@dr["ContactPersonname"]</td>
                                                <td>@dr["ContactPersonNumber"]</td>
                                                <td>@dr["ActualHourlyRate"]</td>
                                                <td>@dr["DiscountedHourlyRate"]</td>
                                                <td>@dr["IsAllowedBooking"]</td>
                                                <td>@dr["Created"]</td>
                                                <td>@dr["Modified"]</td>
                                                <td class="sticky-right">
                                                    <a class="btn btn-icon btn-warning" asp-action="Add"
                                                       asp-route-GroundID="@Convert.ToInt32(@dr["GroundID"])">
                                                        <i class="bx bx-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-icon btn-danger" asp-action="Delete"
                                                       asp-route-GroundID="@Convert.ToInt32(@dr["GroundID"])"
                                                       data-confirm="Are you sure you want to delete this Ground?">
                                                        <i class="bx bx-trash"></i>
                                                    </a>                                                    
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="12" class="text-center">
                                                <p class="col-form-label">No Record Found</p>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
                <!--/ Hoverable Table rows -->
            </div>
            <!-- / Content -->


            <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>

<!-- / Layout wrapper -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const deleteButtons = document.querySelectorAll('[data-confirm]');

        deleteButtons.forEach(button => {
            button.addEventListener('click', function (e) {
                const confirmationMessage = this.getAttribute('data-confirm');
                e.preventDefault(); // Prevent the default action
                Swal.fire({
                    title: 'Are you sure?',
                    text: confirmationMessage,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // If the user confirms, proceed with the action
                        const href = button.getAttribute('href');
                        if (href) {
                            window.location.href = href;
                        }
                    }
                });
            });
        });
    });
</script>